@using CapstoneMaui.Core.Services
@using MudBlazor
@using MudBlazor.Components
@using Flurl;
@using Flurl.Http;
@using CapstoneMaui.Core.Models
@using System.Text.Json.Nodes;
@namespace CapstoneMaui.Core.Components.Pages
@inject AbstractLoggerService Logger
@inject NavigationManager Nav
@inject ISnackbar Snackbar

@page "/manager-schedule"
<style>
	.users {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
	.border {
	border-style: solid;
	border-width: 1px;
	}
	.textStandard {
	font-size: 15px; 
	font-weight:bold;
	}
	.headingText {
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 5px;
	}
	.marginStandard {
	margin-left: 20px;
	margin-right: 20px;
	}

</style>

<ManagerTopBar action="2"/>

<div class="ma-0" style="height:300px;overflow: auto;">
	<MudPaper Elevation="0" Outlined="true" Height="1000px">
		@if (dataLoaded)
		{
			foreach (var g in requestData)
			{
				<div style="margin-bottom: 10px;" class="users border" id = "@g["ScheduleEntryId"]">


					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Style="width: 100%">
						<!--Holds the users name-->
						<div class="usersElement textStandard marginStandard">
							User ID : @g["UserId"]
						</div>
						<div class="usersElement textStandard marginStandard">
							Job Site ID : @g["AssignmentId"]	
						</div>
						<div class="usersElement marginStandard">
							<p> Scheduled : @g["StartTime"] to @g["EndTime"]</p>
						</div>
					</MudStack>

					<!--Deny button-->
					<div class="usersElement marginStandard">
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DoNotDisturb" Color="Color.Secondary" Style="float:right;" OnClick="@(()=> deleteRequest((int)g["ScheduleEntryId"]))">Delete</MudButton>
					</div>
				</div>
			}
		}

	</MudPaper>
</div>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Secondary" OnClick="getRequest">Load</MudButton>



			<div Style="width: 100%">
				<MudTextField Label="Employee ID" Variant="Variant.Outlined" @bind-Value="EmployeeId" />
				<MudTextField Label="Site ID" Variant="Variant.Outlined" @bind-Value="SiteId" />	
			</div>
			<MudDatePicker Label="Start" @bind-Date="_dateOne"/>
			<MudDatePicker Label="End" @bind-Date="_dateTwo"/>	


<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick=schedule>
	Schedule
</MudButton>


<ManagerBottomBar/>


@code {


	private Guid selectedSite = Guid.Empty;
	public List<SiteDto> sites = new()
	{
		new SiteDto(Guid.NewGuid(), "Downtown Construction Site", 47.6062, -122.3321, 100),
		new SiteDto(Guid.NewGuid(), "Uptown Renovation Project", 47.6205, -122.3493, 150),
		new SiteDto(Guid.NewGuid(), "Suburban Housing Development", 47.5301, -122.0326, 200)
	};

	int? EmployeeId;
	int? SiteId;
	DateTime? _dateOne;
	DateTime? _dateTwo;

	JsonArray? requestData = null;

	bool dataLoaded = false;
	string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5IiwiZW1haWwiOiJzdHJpbjEzMTJnIiwiZGlzcGxheU5hbWUiOiJzdHJpbmciLCJuYmYiOjE3NjMzMzMzMzUsImV4cCI6OTE3NjMzMzMzMzUsImlzcyI6IkNhcHN0b25lQVBJIiwiYXVkIjoiQ2Fwc3RvbmVDbGllbnQifQ.VdtCnT4BWt_Fu5gXFa1E_t1VEuBVnXtiqre6hrYOU5s";
	public async Task getRequest()
	{
		try {
		var response = await "http://10.0.2.2:5162/schedule/getAll"
			.WithOAuthBearerToken(token)
			.GetAsync();

		requestData = await response.GetJsonAsync<JsonArray>();
		dataLoaded = true;
		}
		catch (FlurlHttpException ex) {
			Snackbar.Add(ex.Message, Severity.Error);
		}
	}
	// delete specified request
	public async Task deleteRequest(int id)
	{
		try {
			var response = await ("http://10.0.2.2:5162/schedule/delete/" + id.ToString())
			.WithOAuthBearerToken(token)
			.DeleteAsync();

			var result = await response.GetJsonAsync<dynamic>();

			await getRequest();
		} catch (FlurlHttpException ex) {
			Snackbar.Add(ex.Message, Severity.Error);
		}
	}

	public async Task schedule()
	{
		try {
			var response = await "http://10.0.2.2:5162/schedule/createSchedule"
				.WithOAuthBearerToken(token)
				.PostJsonAsync(new
				{
					UserId = EmployeeId,
					AssignmentId = SiteId,
					startDate = _dateOne,
					endDate = _dateTwo,
				});

			var result = await response.GetJsonAsync<dynamic>();
			await getRequest();
		} catch (FlurlHttpException ex) {
			Snackbar.Add(ex.Message, Severity.Error);
		}
}

}