@using MudBlazor
@using Flurl;
@using Flurl.Http;
@using Newtonsoft.Json; 
@using Newtonsoft.Json.Linq;
@using System.Text.Json.Nodes;


@namespace CapstoneMaui.Core.Components.Pages
@inject NavigationManager Nav

@page "/manager-request"

<style>
	.users {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
	.border {
	border-style: solid;
	border-width: 1px;
	}
	.textStandard {
	font-size: 20px; 
	font-weight:bold;
	}
	.headingText {
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 5px;
	}
	.marginStandard {
	margin-left: 20px;
	margin-right: 20px;
	}

</style>

<div style="position: relative; left: 5px; margin-top: 5px;">
	<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Secondary" OnClick=Back>
		Back
	</MudButton>
</div>


<MudDivider DividerType="DividerType.Middle"/>

<div class="ma-0" style="height:600px;overflow: auto; ">
	<MudPaper id = "placeholderElement" Elevation="0"Outlined="false" Height="1000px">
		@if (dataLoaded)
		{
			foreach (var g in requestData){
				<div style="margin-bottom: 10px;" class="users border" id = "@g["requestOffId"]">


					<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Spacing="1" Style="width: 100%">
						<!--Holds the users name-->
						<div class="usersElement textStandard marginStandard">
							@g["requestOffId"]
						</div>
						<div class="usersElement" style="width: 100%">
							<MudTextField @bind-Value="@g["note"]" Label="Reason" ReadOnly="true" AutoGrow  Variant="Variant.Text" style="width: 100%"/>		
						</div>
						<div class="usersElement">
							<p>@g["startDate"] to @g["endDate"]</p>
						</div>
					</MudStack>

					<!--Approve button-->
					<div class="usersElement marginStandard">
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Secondary" Style="float:right;"></MudButton>
					</div>
					<!--Deny button-->
					<div class="usersElement marginStandard">
						<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DoNotDisturb" Color="Color.Secondary" Style="float:right;" OnClick="@(()=> deleteRequest((int)g["requestOffId"]))"></MudButton>
					</div>
				</div>



			}
		}
	</MudPaper>
</div>
<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Secondary" OnClick="getRequest">Load</MudButton>



<ManagerBottomBar/>

@code {
	JsonArray? requestData = null;

	bool dataLoaded = false;

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/manager-dashboard");
	}

	// for testing
	string token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxYTBiNTMyNi03NGI2LTRmMjMtYWE3NS05ZTkxOWZkY2ZhYzgiLCJlbWFpbCI6IlRva2VuVGVzdCIsImRpc3BsYXlOYW1lIjoiVG9rZW5UZXN0IiwibmJmIjoxNzYyNzI1NTkzLCJleHAiOjE3NzE3MjU1OTMsImlzcyI6IkNhcHN0b25lQVBJIiwiYXVkIjoiQ2Fwc3RvbmVDbGllbnQifQ.ka4KnLkKknw4dNK62vTk6eaxE2onO26xyte3dhHKtC4";
	// get all outgoing requests
	public async Task getRequest(){

		var response = await "http://10.0.2.2:5162/api/RequestOff/all"
			.WithOAuthBearerToken(token)
			.GetAsync();

		requestData = await response.GetJsonAsync<JsonArray>();
		dataLoaded = true;

	}

	// delete specified request
	public async Task deleteRequest(int id){

		var response = await ("http://10.0.2.2:5162/api/RequestOff/" + id.ToString())
		.WithOAuthBearerToken(token)
		.DeleteAsync();

		var result = await response.GetJsonAsync<dynamic>();

		await getRequest();
	}

}