@using CapstoneMaui.Core.Services
@using MudBlazor
@using MudBlazor.Components
@using CapstoneMaui.Core.Models
@namespace CapstoneMaui.Core.Components.Pages
@inject AbstractLoggerService Logger
@inject NavigationManager Nav

@page "/manager-newjobsite"

<ManagerTopBar action="4"/>

<MudStack AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween" Spacing="3" Style="max-height: 100vh;">


    <MudSelect T="Guid" @bind-Value="selectedSite" Label="Select Job Site" Variant="Variant.Outlined">
        <MudSelectItem Value="@sites[0].Id">Downtown Construction Site</MudSelectItem>
        <MudSelectItem Value="@sites[1].Id">Uptown Renovation Project</MudSelectItem>
        <MudSelectItem Value="@sites[2].Id">Suburban Housing Development</MudSelectItem>
    </MudSelect>

     <JobSiteMap currentSiteId="@selectedSite" Height="25vh" Sites="@sites" OnChanged="@((site) => SaveSite(this, site))" />


    <MudStack Row=true Justify="Justify.SpaceAround" Spacing="2">
        <MudSelect	@bind-value="_value3" FitContent=true Variant="Variant.Outlined" Style="float:left;"> 
                    @foreach (var employee in _namePlaceholder)
                    {
                    <MudSelectItem Value="employee">@employee</MudSelectItem>
                    }
        </MudSelect>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" Style="float:right; margin-left: 20%">
            Assign
        </MudButton>
    </MudStack>

    <MudPaper Width="100%" style="height:200px;overflow: auto;">
        <MudPaper Elevation="0" Outlined="true" Height="1000px">
            <table style="width:100%">
                    @foreach (var name in _namePlaceholder)
                    {
                        <tr style="font-size: 20px;">
                                <th>@name</th>
                                <th><MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DoNotDisturb" Color="Color.Secondary" Style="float:right;"></MudButton></th>
                        </tr>
                    }
            </table>
        </MudPaper>
    </MudPaper>
</MudStack>
<ManagerBottomBar/>

@code {
    private string _value3;
    private Guid selectedSite = Guid.Empty;
    public List<SiteDto> sites = new()
    {
        new SiteDto(Guid.NewGuid(), "Downtown Construction Site", 47.6062, -122.3321, 100),
        new SiteDto(Guid.NewGuid(), "Uptown Renovation Project", 47.6205, -122.3493, 150),
        new SiteDto(Guid.NewGuid(), "Suburban Housing Development", 47.5301, -122.0326, 200)
    };

    private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };

    public void SaveSite(object? sender, SiteDto site)
    {
        //handle site change
        new SiteDto(Guid.NewGuid(), "Test", 90.5301, 122.0326, 200);

    }
}
